* {
    padding: 0;
    margin: 0;
}

h1 {
    color: #fff;
    /* color: rb; */
    font-size: 1.2rem;
    text-align: center;
}

h1 p {
    margin-top: 10px;
}


/* #font p:nth-child(3) {
    text-align: right;
}

#font p:nth-child(4) {
    text-align: right;
}

#font p:nth-child(5) {
    text-align: right;
} */

body {
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

ul {
    height: 200px;
    display: flex;
    list-style: none;
    margin-top: 100px;
}

li {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    margin-right: 20px;
}

li:nth-child(1) {
    background-color: red;
    animation: love1 4s 0s infinite;
}

li:nth-child(2) {
    background-color: darkcyan;
    animation: love2 4s 0.2s infinite;
}

li:nth-child(3) {
    background-color: darkgoldenrod;
    animation: love3 4s 0.4s infinite;
}

li:nth-child(4) {
    background-color: darkkhaki;
    animation: love4 4s 0.6s infinite;
}

li:nth-child(5) {
    background-color: deeppink;
    animation: love5 4s 0.8s infinite;
}

li:nth-child(6) {
    background-color: dodgerblue;
    animation: love4 4s 1s infinite;
}

li:nth-child(7) {
    background-color: darkgrey;
    animation: love3 4s 1.2s infinite;
}

li:nth-child(8) {
    background-color: darkseagreen;
    animation: love2 4s 1.4s infinite;
}

li:nth-child(9) {
    background-color: red;
    animation: love1 4s 1.6s infinite;
}

@keyframes love1 {
    30%,
    50% {
        height: 60px;
        transform: translateY(-30px);
    }
    70%,
    100% {
        height: 0px;
        transform: translateY(0px);
    }
}

@keyframes love2 {
    30%,
    50% {
        height: 125px;
        transform: translateY(-60px);
    }
    70%,
    100% {
        height: 0px;
        transform: translateY(0px);
    }
}

@keyframes love3 {
    30%,
    50% {
        height: 160px;
        transform: translateY(-75px);
    }
    70%,
    100% {
        height: 0px;
        transform: translateY(0px);
    }
}

@keyframes love4 {
    30%,
    50% {
        height: 180px;
        transform: translateY(-60px);
    }
    70%,
    100% {
        height: 0px;
        transform: translateY(0px);
    }
}

@keyframes love5 {
    30%,
    50% {
        height: 200px;
        transform: translateY(-45px);
    }
    70%,
    100% {
        height: 0px;
        transform: translateY(0px);
    }
}