.two {
    font-family: "montserrat";
    background-image: linear-gradient(125deg, hsl(210, 29%, 29%), #9b59b6, #3498db, #f1c40f);
    -webkit-background-image: linear-gradient(125deg, #34495e, #9b59b6, #3498db, #f1c40f);
    background-size: 400%;
    animation: bganimation 15s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.two p {
    color: #333;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

.two h3 {
    position: relative;
}

.text {
    color: white;
    text-align: center;
    font-size: 3em;
}

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}